@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
  scroll-behavior: smooth;
}

.dot {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  border: 5px solid rgba(31, 30, 30, 1);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.dot.hovered {
  transform: translate(-50%, -50%) scale(2);

  border-width: 2px;
  border-color: #e63946;
}
.dot.clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: #121212;
}
body {
  margin: 0;
  font-family: 'Barlow', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
